.editor-wrapper {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  font-family: sans-serif;
}

.toolbar {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 10px;
  background-color: #f7f7f7;
  padding: 8px;
  border-radius: 6px;
}

.toolbar select,
.toolbar button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  background: white;
  border-radius: 4px;
  cursor: pointer;
}

.toolbar button.active {
  background-color: #e0e0e0;
  font-weight: bold;
}

.editor-area {
  min-height: 200px;
  outline: none;
}
.tiptap.ProseMirror
{
  padding:3px;
}
.tiptap.ProseMirror:focus-visible {
  outline: none !important;
  box-shadow: none;
}
.editor-area p
{
  margin:3px 0;
}

a{
  cursor: pointer;
}